[Unit]
Description=Kid Supervisor Server
After=network.target

[Service]
Type=simple
Restart=always
RestartSec=1
User=nobody
ExecStart=/home/jewel/ispy/server
WorkingDirectory=/home/jewel/ispy

[Install]
WantedBy=multi-user.target
