<!DOCTYPE html>
<html>
  <head>
    <title>ispy</title>
    <script src="/client.js"></script>
    <script src="/kids.js"></script>
    <link rel="stylesheet" href="/main.css?_=<%= File.mtime( 'public/main.css' ).to_i %> "/>
  </head>
  <body>
    <div id="images">
    </div>
  </body>
</html>
