html {
  background: black;
  padding: 0;
  margin: 0;
  color: white;
}

#images {
  display: flex;
  flex-wrap: wrap;
  height: 100vh;
  width: 100vw;
}

#images figure {
  margin: 2px;
}

#images figcaption {
  text-align: center;
}

#images img {
  object-fit: contain;
}
