html {
  background: black;
  padding: 0;
  margin: 0;
  color: white;
  overflow: hidden;
}

#images {
  display: flex;
  flex-wrap: wrap;
  height: 100vh;
  width: 100vw;
}

#images figure {
  padding: 2px;
  margin: 0;
  position: relative;
}

#images figure img.portrait {
  position: absolute;
  top: 0;
  right: calc(50% - 100px / 2);
  border-radius: 50%;
  height: 100px;
  width: 100px;
  object-fit: cover;
  border-width: 5px;
  border-style: solid;
}

#images figcaption {
  text-align: center;
}

#images img.screen {
  object-fit: contain;
  max-width: 100%;
  border-width: 5px;
  border-style: solid;
}
